dxcam
numpy==1.23.0
onnxruntime_directml
opencv_python
pandas
PyAutoGUI
# should be auto-installed by pyautogui, but just in case...
PyGetWindow
pywin32
torch_directml
# below is due to the scripts in the utils folder
pyyaml
matplotlib