PyAutoGUI
PyGetWindow
opencv-python
numpy
pandas
pywin32
pyyaml
tqdm
matplotlib
seaborn
requests
ipython
psutil
dxcam
onnxruntime_directml
bettercam
onnxsim
openvino-dev
x2paddle
coremltools
tensorflow
tensorflowjs
tflite_support
